g.countries.selected {
    stroke: #1de9b6;
    stroke-width: 3px;
}

g.countries.selected > path {
    /*fill: #00bfa5*/
}

g.countries.deselected {
    stroke: #4db6ac;
    opacity: 0.7;
}

g.countries {
    stroke: #009688;
}

body {
    background: #FCFCFC;
}

g {
    transition-duration: 0.7s
}